@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";

.header {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2f2f2f;
  }
  &__logo {
    margin: 17px 50px 27px;
  }
}

.menu {
  display: flex;
  margin: 0 auto;
  &__list {
    display: flex;
  }
  &__list-item {
    margin: 0 27px;
  }
  &__list-link {
    font-size: 30px;
    color: #fff;
    transition: color 0.5s ease;
  }
  &__list-active {
    border-bottom: 1px solid #c4c4c4;
  }
  &__list-link:hover {
    color: #c4c4c4;
  }
}

.banner {
  background-color: #8f837c;
  display: flex;
  justify-content: center;
  &__image {
    padding: 37px 0px 78px;
  }
}

.nav {
  &__item {
    display: flex;
    margin: 40px auto;
    justify-content: center;
  }
  &-list {
    margin: 0 20px;
  }
  &-link {
    color: #8f837c;
    font-size: 28px;
    font-weight: 600;
    transition: color 0.5s ease;
  }
  &-link:hover {
    color: #63564f;
  }
  &-link--active {
    color: #63564f;
  }
}

.footer {
  &__inner {
    background-color: #8f837c;
    display: flex;
    justify-content: space-between;
  }
  &__img {
    height: 100%;
    margin-left: 30px;
  }
  &__img2 {
    height: 100%;
    margin-top: 90px;
  }
  &__line {
    display: flex;
    justify-content: center;
  }
  &__content {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  &__logo {
    background-color: #2f2f2f;
    display: flex;
    padding: 124px 0;
    justify-content: center;
    align-items: center;
  }
  &__logo-image {
    height: 74px;
    margin-right: 25px;
  }
  &__contact {
    background-color: #8f837c;
  }
}

.feedback {
  margin: 69px auto;
  justify-content: center;
  &__title {
    font-size: 28px;
    color: #fff;
    font-weight: 500;
  }
  &__btn {
    background-color: #c4c4c4;
    border: 0px;
    border-radius: 21px;
    font-size: 28px;
    padding: 3px 28px;
    margin: 20px 130px;
  }
}

.fline {
  margin: 69px auto;
  margin: 30px 662px;
  &__title {
    display: flex;
    justify-content: center;
    font-size: 28px;
    color: #000;
    font-weight: 500;
    margin-bottom: 20px;
  }
  &__btn {
    display: flex;
    justify-content: center;
    background-color: #c4c4c4;
    border: none;
    border-radius: 21px;
    font-size: 28px;
    font-weight: 400;
    padding: 3px 49px;
    margin: 20px auto;
  }
  &__form {
    position: absolute;
    border: 1px solid;
    transform: translateY(-70%);
  }
}
.contact {
  margin-top: 43px;
  &__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    font-weight: 400;

  }

  &__number {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    margin: 2px 0;
  }

  &__text {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
  }

  &__mail {
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    font-weight: 400;
  }
}

.social {
  margin-top: 27px;
  &__title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
    text-align: center;
  }

  &__link {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    margin: 0 100px;
    justify-items: center;
  }

  &__link-viber {
    display: flex;
    align-items: center;
    height: 45px;
    color: #fff;
    font-size: 28px;
  }

  &__link-whatsapp {
    display: flex;
    align-items: center;
    height: 45px;
    color: #fff;
    font-size: 28px;
  }
  &__icon-viber {
    margin-right: 32px;
  }
  &__icon-whatsapp {
    margin-right: 16px;
  }
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: none;
  &__content {
    position: absolute;
    background: #ffffff;
    width: 640px;
    height: 690px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
  }
  &__item {
    display: flex;
    width: 565px;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  &__subtitle {
    font-size: 28px;
    font-weight: 400;
    color: #2f2f2f;
  }

  &__content form {
    display: flex;
    flex-direction: column;
  }
  &__title {
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 600;
    margin: 50px auto;
  }

  &__content form input {
    font-size: 20px;
    border: none;
    border-bottom: 2px solid #8f837c;
    width: 340px;
  }
  &__content form textarea {
    margin-bottom: 30px;
    height: 150px;
    width: 572px;
    font-size: 20px;
    border: 2px solid #8f837c;
    margin-top: 10px;
  }

  &__content form input[type="submit"] {
    width: 336px;
    height: 40px;
    background: #c4c4c4;
    color: #2f2f2f;
    font-size: 24px;
    margin: 40px auto 0;
    border: none;
    border-radius: 21px;
  }
}

.close-popup {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
  height: 20px;
}

.no-scroll {
  overflow-y: hidden;
}
.sales {
  max-width: 100%;
}
.slider {
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 60px 60px 0;
    align-items: flex-end;
  }

  &-title {
    color: #2f2f2f;
    font-size: 28px;
    font-weight: 500;
    text-align: center;
  }
  &-price {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-top: 16px;
  }
  &-oldPrice {
    font-size: 28px;
    color: #2f2f2f;
    font-weight: 500;
    margin-right: 50px;
  }
  &-newPrice {
    font-size: 30px;
    color: #2f2f2f;
    font-weight: 600;
  }
}

.catalog {
  display: flex;
  justify-content: center;
  &-items {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 70px;
    margin: 40px auto 80px;
  }
  &-item {
    height: 450px;
    width: 500px;
    position: relative;
    &::before {
      content: " ";
      position: absolute;
      margin: 0 auto;
      height: 6px;
      width: 500px;
      background-color: #8f837c;
    }
  }
  &-img {
    max-height: 450px;
    max-width: 500px;
    margin: 35px auto;
    object-fit: cover;
  }
  &-info {
    height: 450px;
    width: 500px;
    margin-top: 35px;
    background-color: rgba(255, 255, 255, 0.67);
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  &-title {
    margin-top: 10px;
    font-size: 28px;
    font-weight: 500;
    color: #2f2f2f;
    text-transform: uppercase;
  }
  &-add {
    margin-top: 20px;
  }
}
.image-map {
  margin: 10px auto 121px;
}
.about {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 70px;
  left: 0;
  right: 0;
  margin: 40px 80px;
  &-text {
    min-width: 570px;
    font-weight: 400;
    font-size: 36px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    &__bottom {
      text-align: right;
    }
  }
  &-img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  &__items {
    display: flex;
    justify-content: center;
    margin-top: 65px;
  }
  &__item {
    width: 680px;
    text-align: center;
    margin: auto 95px;
    font-size: 28px;
  }
  &__item-title {
    font-weight: 400;
    text-transform: uppercase;
  }
}

.delivery {
  &__items {
    margin: 20px 0;
  }
  &-table {
    margin: 90px auto;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 82px 104px;
  }
  &__item-img {
    height: 140px;
    width: 140px;
    margin-right: 25px;
  }
}
.installment {
  background-color: #8f837c;
  max-width: 1920px;
  width: 100%;
  &__inner {
    padding: 116px 86px;
    color: #fff;
  }
  &-title {
    font-size: 36px;
    margin-bottom: 35px;
    font-weight: 500;
  }
  &-text {
    font-size: 28px;
    font-weight: 400;
  }
}
.delivery__info {
  margin: 75px auto;
  &-text {
    margin: 35px auto;
    width: 1535px;
  }
}

.contacts {
  margin: 0 130px;
  &__inner {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
  }
  &-text {
    max-width: 830px;
    font-weight: 400;
    font-size: 36px;
    margin: auto 0;
  }
  &__items {
    margin: auto 0;
  }
  &__item {
    text-align: right;
    color: #2f2f2f;
    font-size: 36px;
    margin-bottom: 45px;
  }
  &__item-title {
    margin-bottom: 10px;
  }
  &__item__mail {
    color: #2f2f2f;
  }
  &__item__number {
    color: #2f2f2f;
  }

  &-img {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto 0;
  }
  &__item__social {
    display: flex;
  }
  &__item__social-icon {
    display: flex;
    color: #2f2f2f;
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    margin-left: 45px;
    margin-top: 5px;
  }
  &__item__social-icon > p {
    text-align: center;
    margin: auto 0;
  }
  &__item__social-img {
    align-items: center;
    margin-right: 18px;
  }
}
.sale {
  width: 100%;
  left: 0;
  right: 0;
  margin: auto;
}
.slider__sale {
  margin: 95px 35px 140px;
  width: 1850px;

  &-item {
    width: 1600px;
    margin: 0 125px;
  }
  &-btn {
    border: none;
    background-color: #c4c4c4;
    border-radius: 75px;
    padding: 19px 128px;
    z-index: 2;
    position: absolute;
    margin-top: 900px;
    margin-left: 44px;
    color: #000;
  }
  &-arrow {
    padding: 0;
    border: none;
    background-color: transparent;
    position: absolute;
    top: 50%;
    transition: translateY(-50%);
    z-index: 10;
    cursor: pointer;
  }
  &-arrowleft {
    left: 0px;
  }
  &-arrowright {
    right: 0px;
  }
}

.category {
  margin: 41px 12px 150px;

  &__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 80px;
    width: 1650px;
    margin: 0 auto;
  }
  &__item {
    margin: 25px 0;
    color: #2f2f2f;
  }
  &__item-title {
    font-size: 36px;
    font-weight: 400;
    margin: 41px 0;
  }
  &__item-price {
    font-size: 36px;
    font-weight: 600;
  }
}

.product {
  &-top {
    height: 100px;
    width: 1920px;
    background-color: #8f837c;
  }
}
.product__item {
  display: grid;
  grid-template-columns: 3fr 2fr;
  &-img {
    margin: 0 auto;
  }
  &-info {
    margin: 0 auto;
    background-color: #8f837c38;
    height: 300px;
    padding: 11px 20px;
  }
  &-top {
    display: flex;
  }
  &-text {
    font-size: 28px;
    font-weight: 400px;
    color: #000;
  }
  &-price {
    font-weight: 600;
    color: #2f2f2f;
    font-size: 36px;
    margin: 45px 13px;
  }
  &-colors {
    display: flex;
    margin: 50px 13px;
    font-size: 28px;
    font-weight: 400px;
    color: #000;
  }
  &-color {
    margin-left: 60px;
  }
}
.product__info {
  &-title {
    font-size: 36px;
    font-weight: 600;
    color: #000;
    margin: 50px 0 50px 126px;
    border-bottom: 2px solid currentColor;
    border-block-color: #8f8f8f ;
    width: 326px;
  }
}
.product__inform {
  display: flex;
  justify-content: space-between;
  padding:8px;
  &-title {
    font-size: 28px;
    font-weight: 400;
    color: #000;
    margin-left: 126px;
  }
  &-text {
    font-size: 28px;
    font-weight: 400;
    color: #000;
    width: 725px;
    margin-right: 50px;
  }
  &:nth-child(odd) {
    background-color: #8f837c38;
  }
}
@import "media";