{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static '/catalog/css/style.min.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_IDD }}"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', '{{ GOOGLE_ANALYTICS_IDD }}', {cookie_flags: 'SameSite=None;Secure'});
    </script>
    <script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
    <script>window.addEventListener("load", function () {
        window.wpcc.init({
            "corners": "small",
            "colors": {
                "popup": {"background": "#ffffff", "text": "#2f2f2f", "border": "#1c1a19"},
                "button": {"background": "#8f837c", "text": "#000000"}
            }
        })
    });</script>
</head>

<body>
<header class="header">
    <div class="header__inner">
        <a class="header__logo" href="{% url 'index' %}">
            <img src="{% static '/catalog/images/logo.png' %}" alt="logo">
        </a>
        {% block menu %}
            <nav class="menu">
                <ul class="menu__list">
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="{% url 'index' %}">Главная </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="{% url 'about' %}">О нас </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="{% url 'delivery' %}">Доставка и оплата </a>
                    </li>
                    <li class="menu__list-item">
                        <a class="menu__list-link" href="{% url 'contact' %}">Контакты </a>
                    </li>
                </ul>
            </nav>
        {% endblock %}
    </div>
    <div class="banner">
        <a class="banner__image" href="{% url 'index' %}">
            <img src="{% static 'catalog/images/logo_2.svg' %}" alt="mebelend">
        </a>
    </div>
    <nav class="nav">
        <ul class="nav__item">
            {% for category in category_list %}
                <li class="nav-list">
                    <a class="nav-link" href="{{ category.get_absolute_url }}">{{ category.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
    {% block header_image %}
        <img class="header__image" src="{% static 'catalog/images/content/header__image.jpg' %}" alt="">
    {% endblock %}
</header>
<div class="wrapper">
    {% block content %}
    {% endblock %}
    <footer class="footer">
        <div class="footer__inner">
            <img class="footer__img" src="{% static 'catalog/images/footer__img.png' %}" alt="">
            <div class="feedback">
                <h6 class="feedback__title">Оставьте заявку и мы перезвоним вам</h6>
                <a href="#" class="open-popup">
                    <button class="fline__btn">Оставить заявку</button>
                </a>
                <div class="popup">
                    <div class="popup__content">
                        <img class="close-popup" src="{% static 'catalog/images/close.svg' %}" alt="">
                        <form action="{% url 'process_form' %}" method="post">
                            {% csrf_token %}
                            <h3 class="popup__title">Оставить заявку</h3>
                            <div class="popup__item">
                                <h5 class="popup__subtitle">Телефон</h5>
                                <input class="popup__input-bottom" type="tel" name="phone"
                                       pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$" required>
                            </div>
                            <div class="popup__item">
                                <h5 class="popup__subtitle">Имя</h5>
                                <input class="popup__input-bottom" type="text" name="name" required>
                            </div>
                            <h5 class="popup__subtitle">Комментарий</h5>
                            <textarea name="comment" required></textarea>
                            <input type="hidden" name="next" value="{{ request.path }}" required>
                            <input value="Отправить заявку" type="submit">
                        </form>
                    </div>
                </div>
            </div>
            <img class="footer__img2" src="{% static 'catalog/images/footer__img2.png' %}" alt="">
        </div>
        <img class="footer__photo" src="{% static 'catalog/images/content/footer_image.jpg' %}" alt="">
    </footer>
</div>
<div class="footer__content">
    <div class="footer__logo">
        <img class="footer__logo-image" src="{% static 'catalog/images/logo.png' %}" alt="">
        <img class="footer__logo-image2" src="{% static 'catalog/images/footer_logo.svg' %}" alt="">
    </div>
    <div class="footer__contact">
        <div class="contact">
            <h6 class="contact__title"> Позвоните по телефону:</h6>
            <a class="contact__number" href="tel:89093584949">89093584949</a>
            <h6 class="contact__text"> Ежедневно с 9:00 до 18:30</h6>
            <a class="contact__mail" href="mailto:mebelland@gmail.com">mebelland@gmail.com</a>
        </div>
        <div class="social">
            <h6 class="social__title">Присоединяйтесь к нам в социальных сетях</h6>
            <div class="social__link">
                <a href="viber://add?number='number'" class="social__link-viber">
                    <img class="social__icon-viber" src="{% static 'catalog/images/viber.png' %}" alt="">
                    Viber
                </a>
                <a href="https://wa.me/89093584949" class="social__link-whatsapp">
                    <img class="social__icon-whatsapp" src="{% static 'catalog/images/whatsapp.png' %}" alt="">
                    WhatsApp
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<script src="/static/catalog/js/main.min.js"></script>

</body>

</html>