{% extends 'base.html' %}
{% load static %}

{% block menu %}
    <nav class="menu">
        <ul class="menu__list">
            <li class="menu__list-item">
                <a class="menu__list-link" href="{% url 'index' %}">Главная </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="{% url 'about' %}">О нас </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link" href="{% url 'delivery' %}">Доставка и оплата </a>
            </li>
            <li class="menu__list-item">
                <a class="menu__list-link menu__list-active" href="{% url 'contact' %}">Контакты </a>
            </li>
        </ul>
    </nav>
{% endblock %}

{% block header_image %}
    <img class="header__image" src="../../static/catalog/images/content/header__image-contact.jpg" alt="">
{% endblock %}
{% block content %}
    <main class="main">
        <section class="contacts">
            <img class="title-img" src="../../static/catalog/images/title/title-contacts.svg" alt="">
            <div class="contacts__inner">
                <p class="contacts-text"><b> Фактический адрес:</b> <br>
                    г. Ульяновск, проспект Хо Ши Мина, д. 1А, 2 этаж. <br>
                    Встреча в офисе по предварительному звонку.</p>
                <img class="contacts-img" src="../../static/catalog/images/content/contacts_1.jpg" alt="">
            </div>
            <div class="contacts__inner">
                <img class="contacts-img" src="../../static/catalog/images/content/contacts_2.jpg" alt="">
                <div class="contacts__items">
                    <div class="contacts__item">
                        <h4 class="contacts__item-title">Почта: </h4>
                        <a class="contacts__item__mail" href="mailto:mebelland@gmail.com">mebelland@gmail.com</a>
                    </div>
                    <div class="contacts__item">
                        <h4 class="contacts__item-title">Телефон: </h4>
                        <a class="contacts__item__number" href="tel:+79084886474">+7 908 488-64-74</a>
                    </div>
                    <div class="contacts__item">
                        <h4 class="contacts__item-title">Часы работы: </h4>
                        <p>Понедельник-Пятница 9:00-18:30</p>
                    </div>
                    <div class="contacts__item">
                        <h4 class="contacts__item-title">Соц. сети: </h4>
                        <div class="contacts__item__social">
                            <a class="contacts__item__social-icon" href="">
                                <img class="contacts__item__social-img" src="../../static/catalog/images/VK-black.png"
                                     alt="">
                                <p> Вконтакте </p>
                            </a>
                            <a class="contacts__item__social-icon" href="">
                                <img class="contacts__item__social-img"
                                     src="../../static/catalog/images/Viber-black.png" alt="">
                                <p> Viber </p>
                            </a>
                            <a class="contacts__item__social-icon" href="">
                                <img class="contacts__item__social-img"
                                     src="../../static/catalog/images/WhatsApp-black.png" alt="">
                                <p> WhatsApp </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        {% if sales_categories %}
            <section class="sale">
                <img class="title-img" src="{% static "catalog/images/title/title-sale.svg" %}" alt="">
                <div class="slider__sale">
                    {% for sales_category in sales_categories %}
                        <a class="slider__sale-item"
                           href="{% url 'catalog:product_list' slug=sales_category.slug %}?sale=True">
                            <btn class="slider__sale-btn">Перейти</btn>
                            <img class="slider__sale-img" src="{{ sales_category.sale_image.image_path.url }}" alt="">
                        </a>
                    {% endfor %}
                    </a>
                </div>
            </section>
        {% endif %}
    </main>
{% endblock %}