<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/catalog/css/style.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
    <div class="header__inner">
      <a class="header__logo" href="">
        <img src="../../static/catalog/images/logo.png" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="index.html">Главная </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="about.html">О нас </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="delivery.html">Доставка и оплата </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="contacts.html">Контакты </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="banner">
      <a class="banner__image" href="#">
        <img src="../../static/catalog/images/logo_2.svg" alt="mebelend">
      </a>
    </div>
    <nav class="nav">
      <ul class="nav__item">
        <li class="nav-list">
          <a class="nav-link" href="wardrobe.html">Шкафы-купе</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="hall.html">Прихожие</a>
        </li>
        <li class="nav-list">
          <a class="nav-link nav-link--active" href="dresser.html">Тумбы и комоды</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="list.html">Спальни</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="baby.html">Детские</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="livingrooms.html">Гостиные</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="dressingroom.html">Гардероб</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="sofa.html">Диваны и кресла</a>
        </li>
      </ul>
    </nav>
    <img class="header__image" src="../../static/catalog/images/content/header__image-about.jpg" alt="">
  </header>




  <div class="wrapper">
    <main class="main">
      <section class="category">
        <img class="title-img" src="../../static/catalog/images/title/title-wardrobe.svg" alt="">
        <div class="category__items">
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe1.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе Айсберг Лофт 270</h3>
            <div class="category__item-price">30 000 руб.</div>
          </a>
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe2.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе Борнео-2-2</h3>
            <div class="category__item-price">12 000 руб.</div>
          </a>
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe3.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе Корсо 140</h3>
            <div class="category__item-price">15 000 руб.</div>
          </a>
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe4.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе Amadeus</h3>
            <div class="category__item-price">11 000 руб.</div>
          </a>
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe5.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе Плаза</h3>
            <div class="category__item-price">15 000 руб.</div>
          </a>
          <a class="category__item" href="product.html">
            <img class="category__item-img" src="../../static/catalog/images/content/wardrobe6.jpg" alt="">
            <h3 class="category__item-title">Шкаф-купе "DeLux"</h3>
            <div class="category__item-price">25 000 руб.</div>
          </a>
        </div>
      </section>
    </main>



    <footer class="footer">
      <div class="footer__inner">
        <img class="footer__img" src="../../static/catalog/images/footer__img.png" alt="">
        <div class="feedback">
          <h6 class="feedback__title">Оставьте заявку и мы перезвоним вам</h6>
          <a href="#" class="open-popup">
            <button class="fline__btn">Напиши нам</button>
          </a>
          <div class="popup">
            <div class="popup__content">
              <img class="close-popup" src="../../static/catalog/images/close.svg" alt="">
              <form action="">
                <h3 class="popup__title">Оставить заявку</h3>
                <div class="popup__item">
                  <h5 class="popup__subtitle">Телефон</h5>
                  <input class="popup__input-bottom" type="tel">
                </div>
                <div class="popup__item">
                  <h5 class="popup__subtitle">Имя</h5>
                  <input class="popup__input-bottom" type="text">
                </div>
                <h5 class="popup__subtitle">Комментарий</h5>
                <textarea name="komment"></textarea>
                <input value="Отправить заявку" type="submit">
              </form>
            </div>
          </div>
        </div>
        <img class="footer__img2" src="../../static/catalog/images/footer__img2.png" alt="">
      </div>
      <img class="footer__photo" src="images\content\footer__image-wardrobe.jpg" alt="">
  </div>
  <div class="footer__content">
    <div class="footer__logo">
      <img class="footer__logo-image" src="../../static/catalog/images/logo.png" alt="">
      <img class="footer__logo-image2" src="../../static/catalog/images/footer_logo.svg" alt="">
    </div>
    <div class="footer__contact">
      <div class="contact">
        <h6 class="contact__title"> Позвоните по телефону:</h6>
        <a class="contact__number" href="tel:89093584949">89093584949</a>
        <h6 class="contact__text"> Ежедневно с 9:00 до 18:30</h6>
        <a class="contact__mail" href="mailto:mebelland@gmail.com">mebelland@gmail.com</a>
      </div>
      <div class="social">
        <h6 class="social__title">Присоединяйтесь к нам в социальных сетях</h6>
        <div class="social__link">
          <a href="viber://add?number='number'" class="social__link-viber">
            <img class="social__icon-viber" src="../../static/catalog/images/viber.png" alt="">
            Viber
          </a>
          <a href="https://wa.me/89093584949" class="social__link-whatsapp">
            <img class="social__icon-whatsapp" src="../../static/catalog/images/whatsapp.png" alt="">
            WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
  </footer>
  </div>

  <script src="../../static/catalog/js/main.min.js"></script>
  <script src="../../static/catalog/js/popup.js"></script>
</body>

</html>