{% extends 'base.html' %}
{% block header_image %}
    <img class="header__image" src="../../static/catalog/images/content/header__image-about.jpg" alt="">
{% endblock %}
{% block content %}
    <main class="main">
        <section class="category">
            <div class="category__title"><span>{{ category.name }}</span></div>
            <div class="category__items">
                {% for product in object_list %}
                    <a class="category__item" href="{{ product.get_absolute_url }}">
                        <img class="category__item-img" src="{{ product.image.all.0.image.url }}" alt="">
                        <h3 class="category__item-title">{{ product.name }}</h3>
                        {% if product.discount_price %}
                            <div class="category__item-price"><s>{{ product.price }} руб.</s></div>
                            <div class="category__item-discount_price">{{ product.discount_price }} руб.</div>
                        {% else %}
                            <div class="category__item-price">{{ product.price }} руб.</div>
                        {% endif %}
                    </a>
                {% endfor %}
            </div>
        </section>
    </main>
{% endblock %}

