<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../static/catalog/css/style.min.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap" rel="stylesheet">
</head>

<body>

  <header class="header">
    <div class="header__inner">
      <a class="header__logo" href="">
        <img src="../../static/catalog/images/logo.png" alt="logo">
      </a>
      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__list-item">
            <a class="menu__list-link" href="index.html">Главная </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link menu__list-active" href="about.html">О нас </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="delivery.html">Доставка и оплата </a>
          </li>
          <li class="menu__list-item">
            <a class="menu__list-link" href="contacts.html">Контакты </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="banner">
      <a class="banner__image" href="#">
        <img src="../../static/catalog/images/logo_2.svg" alt="mebelend">
      </a>
    </div>
    <nav class="nav">
      <ul class="nav__item">
        <li class="nav-list">
          <a class="nav-link" href="wardrobe.html">Шкафы-купе</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="hall.html">Прихожие</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="dresser.html">Тумбы и комоды</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="list.html">Спальни</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="baby.html">Детские</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="livingrooms.html">Гостиные</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="dressingroom.html">Гардероб</a>
        </li>
        <li class="nav-list">
          <a class="nav-link" href="sofa.html">Диваны и кресла</a>
        </li>
      </ul>
    </nav>
  </header>

  <div class="wrapper">
    <main class="main">
      <section class="product">
        <div class="product-top"></div>
        <img class="title-img" src="../../static/catalog/images/title/title-product.svg" alt="">
        <div class="product__inner">
          <div class="product__item">
            <img class="product__item-img" src="../../static/catalog/images/content/product-img.jpg" alt="">
            <div class="product__item-info">
              <div class="product__item-top">
                <img class="product__item-icon" src="../../static/catalog/images/product-icon.svg" alt="">
                <p class="product__item-text">Сборка и доставка за несколько дней</p>
              </div>
              <p class="product__item-price">30000 руб.</p>
              <div class="product__item-colors">
                Цвет:
                <img class="product__item-color" src="../../static/catalog/images/content/color1.svg" alt="">
                <img class="product__item-color" src="../../static/catalog/images/content/color2.svg" alt="">
                <img class="product__item-color" src="../../static/catalog/images/content/color3.svg" alt="">
                <img class="product__item-color" src="../../static/catalog/images/content/color4.svg" alt="">
              </div>
            </div>
          </div>
          <ol class="product__info">
            <h2 class="product__info-title">Характеристики:</h2>
            <li class="product__inform">
              <h3 class="product__inform-title">
                Артикул
              </h3>
              <p class="product__inform-text">
                айс-лофт-00200
              </p>
            </li>
            <li class="product__inform">
              <h3 class="product__inform-title">
                Размер
              </h3>
              <p class="product__inform-text">
                Ширина: 270 см X Высота: 240 см X Глубина: 58 см
              </p>
            </li>
            <li class="product__inform">
              <h3 class="product__inform-title">
                Производитель
              </h3>
              <p class="product__inform-text">
                Партнер 81
              </p>
            </li>
            <li class="product__inform">
              <h3 class="product__inform-title">
                Цвет
              </h3>
              <p class="product__inform-text">
                Дуб/крафт/серый
              </p>
            </li>
          </ol>
        </div>
      </section>
      <section class="sale">
        <img class="title-img" src="../../static/catalog/images/title/title-sale.svg" alt="">
        <div class="slider__sale">
          <a class="slider__sale-item" href="#">
            <btn class="slider__sale-btn">Перейти</btn>
            <img class="slider__sale-img" src="../../static/catalog/images/slider/sales-slider-1.jpg" alt="">
          </a>
          <a class="slider__sale-item" href="#">
            <btn class="slider__sale-btn">Перейти</btn>
            <img class="slider__sale-img" src="../../static/catalog/images/slider/sales-slider-2.jpg" alt="">
          </a>
          <a class="slider__sale-item" href="#">
            <btn class="slider__sale-btn">Перейти</btn>
            <img class="slider__sale-img" src="../../static/catalog/images/slider/sales-slider-3.jpg" alt="">
          </a>
        </div>
      </section>
    </main>



    <footer class="footer">
      <div class="footer__inner">
        <img class="footer__img" src="../../static/catalog/images/footer__img.png" alt="">
        <div class="feedback">
          <h6 class="feedback__title">Оставьте заявку и мы перезвоним вам</h6>
          <a href="#" class="open-popup">
            <button class="fline__btn">Напиши нам</button>
          </a>
          <div class="popup">
            <div class="popup__content">
              <img class="close-popup" src="../../static/catalog/images/close.svg" alt="">
              <form action="">
                <h3 class="popup__title">Оставить заявку</h3>
                <div class="popup__item">
                  <h5 class="popup__subtitle">Телефон</h5>
                  <input class="popup__input-bottom" type="tel">
                </div>
                <div class="popup__item">
                  <h5 class="popup__subtitle">Имя</h5>
                  <input class="popup__input-bottom" type="text">
                </div>
                <h5 class="popup__subtitle">Комментарий</h5>
                <textarea name="komment"></textarea>
                <input value="Отправить заявку" type="submit">
              </form>
            </div>
          </div>
        </div>
        <img class="footer__img2" src="../../static/catalog/images/footer__img2.png" alt="">
      </div>
      <img class="footer__photo" src="../../static/catalog/images/content/footer__image-about.jpg" alt="">
  </div>
  <div class="footer__content">
    <div class="footer__logo">
      <img class="footer__logo-image" src="../../static/catalog/images/logo.png" alt="">
      <img class="footer__logo-image2" src="../../static/catalog/images/footer_logo.svg" alt="">
    </div>
    <div class="footer__contact">
      <div class="contact">
        <h6 class="contact__title"> Позвоните по телефону:</h6>
        <a class="contact__number" href="tel:89093584949">89093584949</a>
        <h6 class="contact__text"> Ежедневно с 9:00 до 18:30</h6>
        <a class="contact__mail" href="mailto:mebelland@gmail.com">mebelland@gmail.com</a>
      </div>
      <div class="social">
        <h6 class="social__title">Присоединяйтесь к нам в социальных сетях</h6>
        <div class="social__link">
          <a href="viber://add?number='number'" class="social__link-viber">
            <img class="social__icon-viber" src="../../static/catalog/images/viber.png" alt="">
            Viber
          </a>
          <a href="https://wa.me/89093584949" class="social__link-whatsapp">
            <img class="social__icon-whatsapp" src="../../static/catalog/images/whatsapp.png" alt="">
            WhatsApp
          </a>
        </div>
      </div>
    </div>
  </div>
  </footer>
  </div>

  <script src="../../static/catalog/js/main.min.js"></script>
  <script src="../../static/catalog/js/popup.js"></script>
</body>

</html>